header {
  height: 48px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header .page-header {
  margin: auto;
  width: 960px;
  height: 100%;
}
header .page-header #navhead {
  display: flex;
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
header .page-header #navhead #col1 {
  width: 165px;
  cursor: pointer;
}
header .page-header #navhead #col2 form .topsearch {
  outline: none;
  width: 230px;
  height: 32px;
  border: 0;
  border-radius: 8px;
  margin: 0;
  padding: 0 0 0 34px;
  background-color: #edeef0;
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.92%22%3E%3Cpath%20opacity%3D%22.1%22%20d%3D%22M0%200H16V16H0z%22%2F%3E%3Cpath%20d%3D%22M6.5%201a5.5%205.5%200%200%201%204.383%208.823l3.896%203.9a.75.75%200%200%201-1.061%201.06l-3.895-3.9A5.5%205.5%200%201%201%206.5%201zm0%201.5a4%204%200%201%200%200%208%204%204%200%200%200%200-8z%22%20fill%3D%22%23818c99%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
  background-position: 10px;
  background-repeat: no-repeat;
}
header .page-header #navhead #col3 {
  display: flex;
  align-items: center;
}
header .page-header #navhead #col3 a {
  padding: 17px 15px;
  cursor: pointer;
  color: gray;
}
header .page-header #navhead #col3 a:hover {
  background-color: rgba(174, 183, 194, 0.12);
}
header .page-header #navhead #col4 {
  overflow: hidden;
  flex-grow: 1;
}
header .page-header #navhead #col5 {
  display: flex;
  align-items: center;
}
header .page-header #navhead #col5 a {
  color: gray;
  padding: 10px 20px;
  cursor: pointer;
}
header .page-header #navhead #col5 a .camera {
  position: relative;
  border-radius: 50%;
  background-color: #c8cbd1;
  width: 30px;
  height: 30px;
}
header .page-header #navhead #col5 a .camera #camera {
  position: absolute;
  top: 7.5px;
  left: 6.5px;
}
header .page-header #navhead #col5 a .camera #down {
  position: absolute;
  top: 8.5px;
  left: 40px;
}
header .page-header #navhead #col5 a:hover {
  background-color: rgba(174, 183, 194, 0.12);
}
body {
  background-color: #edeef0;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.154;
  font-weight: 400;
  box-sizing: border-box;
}
main .page-layout {
  margin-top: 48px;
}
main .page-layout .container {
  margin: auto;
  padding: 0;
  width: 960px;
  background-color: #edeef0;
}
main .page-layout .container .nav-wrap {
  padding-top: 15px;
  width: 164px;
  float: left;
}
main .page-layout .container .nav-wrap .sidebar-wrap {
  width: 165px;
  float: left;
}
main .page-layout .container .nav-wrap .sidebar-wrap .sidebar {
  margin: 0 16px 10px -6px;
  padding: 0;
  list-style: none;
  background-color: #edeef0;
}
main .page-layout .container .nav-wrap .sidebar-wrap .sidebar .hr {
  margin: 9px 0 0 36px;
  padding-top: 9px;
  border-top: 1px solid #dce1e6;
}
main .page-layout .container .nav-wrap .sidebar-wrap .sidebar li {
  margin-left: 0;
}
main .page-layout .container .nav-wrap .sidebar-wrap .sidebar li .left_row {
  width: 163px;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 4px;
  padding: 0 6px;
  color: #000000;
}
main .page-layout .container .nav-wrap .sidebar-wrap .sidebar li .left_row #icon {
  text-align: center;
  width: 20px;
  margin-right: 10px;
  color: #5181b8;
}
main .page-layout .container .nav-wrap .sidebar-wrap .sidebar li .left_row:hover {
  background-color: rgba(174, 183, 194, 0.12);
}
main .page-layout .container .nav-wrap .sidebar-wrap .left-menu {
  margin-top: 15px;
  text-align: left;
  padding: 14px 0 4px 0;
  line-height: 19px;
  font-size: 12px;
}
main .page-layout .container .nav-wrap .sidebar-wrap .left-menu a {
  text-decoration: none;
  padding-right: 10px;
  cursor: pointer;
  color: #939393;
  white-space: nowrap;
}
main .page-layout .container .nav-wrap .sidebar-wrap .left-menu a:hover {
  text-decoration: underline;
}
main .page-layout .container .page-body {
  width: 795px;
  float: right;
}
main .page-layout .container .page-body .wrap-nar {
  float: right;
  width: 230px;
}
main .page-layout .container .page-body .wrap-nar .nar-col {
  width: 100%;
  margin-top: 0;
}
main .page-layout .container .page-body .wrap-nar .nar-col .nar-col-e {
  padding: 6px 0;
  background-color: white;
  border-radius: 4px;
  margin: 15px 0 0;
}
main .page-layout .container .page-body .wrap-nar .nar-col .nar-col-e a.nar-drop1 {
  padding-left: 28px;
  padding-right: 5px;
}
main .page-layout .container .page-body .wrap-nar .nar-col .nar-col-e a {
  padding-left: 18px;
  padding-right: 5px;
  text-decoration: none;
  display: block;
  height: 32px;
  line-height: 31px;
  color: #2a5885;
}
main .page-layout .container .page-body .wrap-nar .nar-col .nar-col-e a .fas {
  float: right;
  margin: 9px 3px 0 12px;
  color: #818c99;
  opacity: 7;
}
main .page-layout .container .page-body .wrap-nar .nar-col .nar-col-e a:hover {
  background-color: rgba(174, 183, 194, 0.16);
}
main .page-layout .container .page-body .wrap-nar .nar-col .nar-col-e a:focus {
  border-left: 2px solid #5181b8;
  color: black;
  font-weight: 500;
  background-color: rgba(174, 183, 194, 0.16);
}
main .page-layout .container .page-body .wrap-nar .nar-col .nar-col-e .space {
  border-top: 1px solid #dce1e6;
  margin: 6px 15px;
}
main .page-layout .container .page-body .wrap-nar .nar-col .feed-block {
  background: white;
  border-radius: 4px;
  margin: 15px 0;
}
main .page-layout .container .page-body .wrap-nar .nar-col .feed-block .ui_toggler_wrap.hot {
  padding-left: 19px;
  border-left: 15px solid transparent;
  background-position: left 13px;
  padding: 13px 15px;
  cursor: pointer;
}
main .page-layout .container .page-body .wrap-nar .nar-col .feed-block .ui_toggler_wrap.hot input {
  float: right;
}
main .page-layout .container .page-body .main {
  background-color: #edeef0;
  width: 550px;
  height: 2000px;
  float: left;
}
main .page-layout .container .page-body .main .main-col {
  width: 100%;
  margin-top: 0;
}
main .page-layout .container .page-body .main .main-col .main_content1 {
  background-color: white;
  border-radius: 4px;
  margin: 15px 0 0;
}
main .page-layout .container .page-body .main .main-col .main_content1 .story {
  padding: 17px 0 0 20px;
  font-weight: 400;
}
main .page-layout .container .page-body .main .main-col .main_content1 .story .sett {
  margin-right: 20px;
  cursor: pointer;
  opacity: 0;
  float: right;
  color: #626d7a;
  transition: opacity 100ms ease-in-out;
}
main .page-layout .container .page-body .main .main-col .main_content1 .story .sett:hover {
  opacity: 1;
  text-decoration: underline;
}
main .page-layout .container .page-body .main .main-col .main_content1 .story_feed {
  padding-top: 17px;
  padding-bottom: 14px;
}
main .page-layout .container .page-body .main .main-col .main_content1 .story_feed .story_item {
  height: 500px;
  background-image: url("../img/camera_200.png");
  margin: 0 3px;
  border-radius: 8px;
  background: no-repeat cover;
  background-clip: border-box;
  display: inline-block;
  width: 94px;
  height: 167px;
  overflow: hidden;
  cursor: pointer;
}
main .page-layout .container .page-body .main .main-col .main_content1 .story_feed .story_item:first-child {
  margin-left: 20px;
}
main .page-layout .container .page-body .main .main-col .main_content1 .story_feed .story_item:last-child {
  margin-right: 20px;
}
main .page-layout .container .page-body .main .main-col .main_content2 {
  background-color: white;
  border-radius: 4px;
  margin: 20px 0 0;
}
main .page-layout .container .page-body .main .main-col .main_content2 .user {
  padding: 15px 20px 0 20px;
  display: flex;
  align-items: start;
}
main .page-layout .container .page-body .main .main-col .main_content2 .user .avatar {
  width: 50px;
  margin-right: 15px;
  cursor: pointer;
}
main .page-layout .container .page-body .main .main-col .main_content2 .user .avatar img {
  border-radius: 50%;
  border: 1px solid black;
}
main .page-layout .container .page-body .main .main-col .main_content2 .user .idname {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
main .page-layout .container .page-body .main .main-col .main_content2 .user .idname h5 {
  margin: 0;
  padding-right: 20px;
  font-size: 13px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .page-layout .container .page-body .main .main-col .main_content2 .user .idname h5 .name {
  color: #2a5885;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}
main .page-layout .container .page-body .main .main-col .main_content2 .user .idname h5 .name:hover {
  text-decoration: underline;
}
main .page-layout .container .page-body .main .main-col .main_content2 .user .idname .hour {
  padding-top: 3px;
}
main .page-layout .container .page-body .main .main-col .main_content2 .user .idname .hour .post_hour {
  color: #818c99;
  cursor: pointer;
  text-decoration: none;
}
main .page-layout .container .page-body .main .main-col .main_content2 .user .idname .hour .post_hour:hover {
  text-decoration: underline;
}
main .page-layout .container .page-body .main .main-col .main_content2 .user .interactive {
  display: flex;
  padding-top: 5px;
  align-items: center;
}
main .page-layout .container .page-body .main .main-col .main_content2 .user .interactive .follow {
  padding: 7px 16px 8px 16px;
  border: none;
  background-color: #e5ebf1;
  float: right;
  line-height: 11px;
  color: #55677d;
  border-radius: 4px;
  cursor: pointer;
}
main .page-layout .container .page-body .main .main-col .main_content2 .user .interactive .follow .icon1 {
  margin-right: 8px;
  color: #9eb4c8;
}
main .page-layout .container .page-body .main .main-col .main_content2 .user .interactive .follow:hover {
  background-color: #dfe6ed;
  opacity: 0.88;
  text-decoration: none;
}
main .page-layout .container .page-body .main .main-col .main_content2 .user .interactive .icon2 {
  width: 24px;
  margin-left: 12px;
  color: #aeb7c2;
  cursor: pointer;
}
main .page-layout .container .page-body .main .main-col .main_content2 .post_content .wall_text {
  padding: 8px 20px 0 20px;
}
main .page-layout .container .page-body .main .main-col .main_content2 .post_content .wall_text .text_wall {
  padding-top: 3px;
  line-height: 1.462;
  overflow: hidden;
  word-wrap: break-word;
}
main .page-layout .container .page-body .main .main-col .main_content2 .post_content .wall_text .imagewall {
  padding: 10px 0 4px;
}
main .page-layout .container .page-body .main .main-col .main_content2 .post_content .wall_text .imagewall img {
  width: auto;
  height: 100%;
}
main .page-layout .container .page-body .main .main-col .main_content2 .post_content .wall_text .post_copy {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12.5px;
}
main .page-layout .container .page-body .main .main-col .main_content2 .post_content .wall_text .post_copy .copy {
  color: #818c99;
  cursor: pointer;
  text-decoration: none;
}
main .page-layout .container .page-body .main .main-col .main_content2 .post_content .wall_text .post_copy .copy:hover {
  text-decoration: underline;
}
main .page-layout .container .page-body .main .main-col .main_content2 .post_content .like_form {
  padding: 0 20px;
}
main .page-layout .container .page-body .main .main-col .main_content2 .post_content .like_form .post_like {
  display: flex;
  padding: 12px 0;
  align-items: center;
  justify-content: space-between;
}
main .page-layout .container .page-body .main .main-col .main_content2 .post_content .like_form .post_like .btn_like {
  display: flex;
}
main .page-layout .container .page-body .main .main-col .main_content2 .post_content .like_form .post_like .btn_like .btn {
  padding: 4px 12px;
  background-color: #f0f2f5;
  border-radius: 32px;
  color: #818c99;
}
main .page-layout .container .page-body .main .main-col .main_content2 .post_content .like_form .post_like .btn_like .btn:hover {
  background-color: #aeb7c2;
}
main .page-layout .container .page-body .main .main-col .main_content2 .post_content .like_form .post_like .view {
  color: #818c99;
}
main .page-layout .container .page-body .main .main-col .main-col-e {
  background-color: white;
  border-radius: 4px;
  margin: 15px 0 0;
}
main .page-layout .container .page-body .main .main-col .main-col-e .main-drop {
  display: flex;
  line-height: 28px;
  color: #2a5885;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 16px 12px;
}
main .page-layout .container .page-body .main .main-col .main-col-e .main-drop a {
  padding-left: 10px;
}
main .page-layout .container .page-body .main .main-col .main-col-e .main-drop a .camera {
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  background-color: #c8cbd1;
  width: 28px;
  height: 28px;
}
main .page-layout .container .page-body .main .main-col .main-col-e .main-drop a .camera #camera {
  position: absolute;
  top: 6.5px;
  left: 5.5px;
}
main .page-layout .container .page-body .main .main-col .main-col-e .main-drop .text {
  width: 263px;
}
main .page-layout .container .page-body .main .main-col .main-col-e .main-drop .text input {
  border-style: hidden;
  font-size: 13px;
}
main .page-layout .container .page-body .main .main-col .main-col-e .main-drop .icon a {
  margin-left: 8px;
  color: #c8cbd1;
  cursor: pointer;
}
