body {
  background: #edeef0;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", sans-serif, arial, Tahoma, verdana;
  line-height: 1.154;
  font-weight: 400;
}
footer {
  margin: 0;
  padding: 0;
}
header {
  background: white;
  height: 48px;
}
.page-header {
  margin: 0 auto;
  padding: 0 15px;
  width: 990px;
  height: inherit;
}
#navhead {
  display: flex;
  height: inherit;
  align-items: center;
}
#col1 {
  width: 165px;
  align-items: center;
}
.row > form {
  margin: 0;
  padding: 0;
}
.topsearch {
  width: 230px;
  height: 32px;
  border: 0;
  border-radius: 8px;
  margin: 0;
  padding: 0 0 0 34px;
  background-color: #edeef0;
  background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.92%22%3E%3Cpath%20opacity%3D%22.1%22%20d%3D%22M0%200H16V16H0z%22%2F%3E%3Cpath%20d%3D%22M6.5%201a5.5%205.5%200%200%201%204.383%208.823l3.896%203.9a.75.75%200%200%201-1.061%201.06l-3.895-3.9A5.5%205.5%200%201%201%206.5%201zm0%201.5a4%204%200%201%200%200%208%204%204%200%200%200%200-8z%22%20fill%3D%22%23818c99%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
  background-position: 10px;
  background-repeat: no-repeat;
}
main {
  left: 0;
  right: 0;
  top: 48px;
  bottom: 0;
}
main > .container {
  margin: 0 auto;
  padding: 0 15px;
  display: table;
  height: 100%;
  position: relative;
}
.form-control {
  box-shadow: none!important;
  font-size: 14px;
  padding: 3px 5px 3px 5px;
  height: 35px;
  box-sizing: border-box;
}
.btnsignin {
  padding: 7px 16px 8px 16px;
  border-radius: 3px;
  margin-right: 15px;
  margin-top: 5px;
  width: 100px;
  border: 0;
  background-color: #5181b8;
  font-size: 14px;
  line-height: 20px;
}
.forgot {
  display: inline-block;
  text-align: center;
  padding-top: 12px;
}
.forgot .index_forgot {
  line-height: 20px;
  text-decoration: none;
  font-size: 13px;
  color: #2a5885;
}
span.LoginMobilePromoDevice__button {
  color: #2a5885;
}
span#span2 {
  position: absolute;
  left: 60px;
  padding-top: 411px;
  font-size: 13px;
}
span#span1 {
  position: absolute;
  left: 30px;
  padding-top: 411px;
  font-size: 13px;
}
.login_all_products_button {
  color: #2a5885;
  margin-top: 24px;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
}
div#dangky {
  margin-top: 18px;
}
p.sub {
  margin-top: 2px;
  font-size: 13px;
  line-height: 16px;
  color: #626d7a;
  margin-bottom: 26px;
}
div.label > .a {
  display: inline-block;
  color: #818c99;
}
div.gender > p {
  color: #818c99;
}
.form-select {
  color: #818c99;
}
.form-check-input {
  margin-top: 0;
}
button#regis {
  background-color: #4bb34b;
  border: none;
  font-size: 14px;
  height: 36px;
}
button#regis:hover {
  opacity: 0.88;
}
button#loginfb {
  background-color: #1b6dd1;
  border: none;
  font-size: 14px;
  height: 35px;
}
div.vk_faq {
  text-align: center;
  color: #818c99;
  font-size: 13px;
  line-height: 18px;
}
div.vk_faq a {
  text-decoration: none;
  color: #2a5885;
  cursor: pointer;
}
div.vk_faq a:hover {
  text-decoration: underline;
}
div.footer_wrap2 {
  margin: auto;
  width: 960px;
  padding-bottom: 40px;
}
div.footer_wrap2 a {
  color: #2a5885;
  font-size: 12px;
  text-decoration: none;
}
div.footer_wrap2 a:hover {
  text-decoration: underline;
}
div.footer_wrap2 .footer_nav {
  display: flex;
  width: auto;
  color: #6f7985;
  justify-content: space-between;
}
div.footer_wrap2 .footer_nav .footer_link .bnav_a {
  padding: 2px 5px;
}
div.footer_wrap2 .footer_nav .footer_lang .footer_lang_link {
  padding: 2px 5px;
}
